* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
}

//Sidebar

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 7%;
  //   background: #11101D;
  background: #63bfbf;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #63bfbf;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #ffffff;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .fa-magnifying-glass {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 18px;
  color: #63bfbf;
  background-color: #fff;
}

.sidebar.open .fa-magnifying-glass:hover {
  background-color: #fff;
}

.sidebar .fa-magnifying-glass:hover {
  background: #fff;
  //   color: #63bfbf;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #63bfbf;
}

.sidebar li a:hover {
  background: #fff;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar.open li a.active-page .links_name {
  opacity: 1;
  pointer-events: auto;
  color: #63bfbf;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #63bfbf;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
}

//Dashboard

.dashboard {
  position: absolute;
  background: #f2f2f2;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.dash-content .title {
  display: flex;
  align-items: center;
  color: #63bfbf;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
}

.dash-content .title i {
  position: relative;
  height: 45px;
  width: 45px;
  background-color: #63bfbf;
  border-radius: 6px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.dash-content .title .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}

.dash-content .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.dash-content .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 2 - 30px);
  padding: 10px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: var(--tran-05);
  margin-top: 20px;
}

.boxes .box i {
  font-size: 40px;
  color: #63bfbf;
  padding: 2%;
}

.boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.boxes .box .number {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-color);
}

.avg-logo {
  float: left;
  width: 150px;
  padding: 12px 15px;
  // height: inherit;
}

.dash-content .boxes .box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.sidebar .nav-list li a.active-page {
  background-color: white;
  height: 100%;
  width: 100%;
}

.sidebar .nav-list li a.active-page i {
  color: #63bfbf;
}

//Recent Activities

.recent-div {
  margin-top: 5%;
  margin-left: 2%;
  width: calc(100% - 78px);
  align-items: center;
  justify-content: center;
}

.recent-div table {
  border: 2px solid #63bfbf;
  margin-left: 2%;
  margin-right: auto;
  border-collapse: collapse;
  width: 98%;
}

.recent-div table th,
td,
tr {
  padding: 1%;
}

.recent-div table tr {
  border: 2px solid #63bfbf;
}

.recent-div table tr:nth-child(even) {
  background-color: #dddddd;
  color: black;
}

//Report Page

.report-div {
  margin-left: 250px;
}


//Report Page CSS

*{
  margin: 0%;
  padding: 0%;
}

.report-main-div{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  /* position: absolute; */
}

.report-details{
  background-color: white;
  width: 75%;
  height: 100%;
  padding: 2%;
  margin-top: 7%;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.app-no{
   margin-right: 2%;
}

.app-no-p{
  font-size: 1rem;
  font-weight: normal;
 text-align: right;
}

.app-no-span{
  font-size: 1.5rem;
  font-weight: bold;
}

.report-title{
  font-size: 1.4rem;
  color: #63bfbf;
  margin-top: 2%;
  margin-bottom: 2%;
}
.report-details-input table{
  width: 100%;
  table-layout: fixed;

}


.report-details-input table td{
  padding: 1%;
}




.report-input-label{
  font-size: 1rem;
  font-weight: bold;
}

.report-input-label-ans{
  font-size: 1.1rem;
  font-weight: normal;
}

.report-btns{
text-align: center;
}

button{
  width: 150px;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  outline: none;
}

.select-btn{
  outline: 2px solid green;
  border: none;
  background: linear-gradient(to right, green 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  color: green;
  display: block;
}


.select-btn:hover{
  color: white;
  background-position: left bottom;
  outline: 2px solid green;
}

.reject-btn{
  border: red 2px solid;
  color: red;
}

.waiting-btn{
  border: goldenrod 2px solid;
  color: goldenrod;
}



//Media query
@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}