* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
}

//Sidebar

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 7%;
  //   background: #11101D;
  background: #63bfbf;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .side_fw_logo {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 12%;
  margin-top: 15%;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar em {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #63bfbf;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #ffffff;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .fa-magnifying-glass {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 18px;
  color: #63bfbf;
  background-color: #fff;
}

.sidebar.open .fa-magnifying-glass:hover {
  background-color: #fff;
}

.sidebar .fa-magnifying-glass:hover {
  background: #fff;
  //   color: #63bfbf;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #63bfbf;
}

.sidebar li a:hover {
  background: #fff;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar.open li a.active-page .links_name {
  opacity: 1;
  pointer-events: auto;
  color: #63bfbf;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover em {
  transition: all 0.5s ease;
  color: #63bfbf;
}

.sidebar li em {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
}

//Dashboard

.dashboard {
  position: absolute;
  background: #f2f2f2;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.dash-content .title {
  display: flex;
  align-items: center;
  color: #63bfbf;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
}

.dash-content .title em {
  position: relative;
  height: 45px;
  width: 45px;
  background-color: #63bfbf;
  border-radius: 6px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.dash-content .title .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}

.dash-content .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.dash-content .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 2 - 30px);
  padding: 10px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: var(--tran-05);
  margin-top: 20px;
}

.boxes .box em {
  font-size: 40px;
  color: #63bfbf;
  padding: 2%;
}

.boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.boxes .box .number {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-color);
}

.avg-logo {
  float: left;
  width: 150px;
  padding: 12px 15px;
  // height: inherit;
}

.dash-content .boxes .box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.sidebar .nav-list li a.active-page {
  background-color: white;
  height: 100%;
  width: 100%;
}

.sidebar .nav-list li a.active-page i {
  color: #63bfbf;
}

//Recent Activities

.recent-div {
  margin-top: 5%;
  width: calc(100% - 78px);
  align-items: center;
  justify-content: center;
}

.recent-div table {
  border: 2px solid #63bfbf;
  margin-left: 5%;
  margin-right: auto;
  border-collapse: collapse;
  width: 100%;
}

.recent-div table th,
td,
tr {
  padding: 1%;
}

.recent-div table tr {
  border: 2px solid #63bfbf;
}

.recent-div table tr:nth-child(even) {
  background-color: #e4e4e4;
  color: black;
}

// Listing Page CSS

.listing-div {
  position: absolute;
  background: #f2f2f2;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.listing-div .title {
  display: flex;
  align-items: center;
  color: #63bfbf;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
}

.listing-div .title em {
  position: relative;
  height: 45px;
  width: 45px;
  background-color: #63bfbf;
  border-radius: 6px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.listing-div .title .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}

.listing-div table {
  border: 2px solid #63bfbf;
  margin-left: 5%;
  margin-right: auto;
  border-collapse: collapse;
  width: 90%;
}

.listing-div table th,
td,
tr {
  padding: 1%;
}

.listing-div table tr {
  border: 2px solid #63bfbf;
}

.listing-div table tr:nth-child(even) {
  background-color: #e4e4e4;
  color: black;
}

//Report Page CSS

.report-div {
  margin-left: 250px;
}

.report-main-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  /* position: absolute; */
}

.report-details {
  background-color: white;
  width: 75%;
  height: 100%;
  padding: 2%;
  margin-top: 5%;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.app-no {
  margin-right: 2%;
}

.app-no-p {
  font-size: 1rem;
  font-weight: normal;
  text-align: right;
}

.app-no-span {
  font-size: 1.5rem;
  font-weight: bold;
}

.report-title {
  font-size: 1.4rem;
  color: #63bfbf;
  margin-top: 2%;
  margin-bottom: 2%;
}
.report-details-input table {
  width: 100%;
  table-layout: fixed;
}

.report-details-input table td {
  padding: 1%;
}

.report-input-label {
  font-size: 1rem;
  font-weight: bold;
}

.report-input-label-ans {
  font-size: 1.1rem;
  font-weight: normal;
}

.report-btns {
  text-align: center;
}

button {
  width: 150px;
  height: 30px;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  outline: none;
}

.select-btn {
  outline: 2px solid green;
  border: none;
  background: linear-gradient(to right, green 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  color: green;
  display: block;
  float: right;
}

.select-btn:hover {
  color: white;
  background-position: left bottom;
  outline: 2px solid green;
}

.reject-btn {
  outline: 2px solid red;
  border: none;
  background: linear-gradient(to right, red 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  color: red;
  display: block;
  float: right;
}

.reject-btn:hover {
  color: white;
  background-position: left bottom;
  outline: 2px solid red;
}

.waiting-btn {
  outline: 2px solid goldenrod;
  border: none;
  background: linear-gradient(to right, goldenrod 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  color: goldenrod;
  display: block;
  float: right;
}

.waiting-btn:hover {
  color: white;
  background-position: left bottom;
  outline: 2px solid goldenrod;
}

// Staff Adding Page CSS

.staff-main-container {
  font-size: 1rem;
}

.staff-add-card {
  position: relative;
  border: 3px solid #dee2e6;
  background-color: white;
  padding: 30px;
  width: 400px;
  height: 100%;
  border-radius: 10px;
  margin-left: 40%;
  margin-top: 5%;
}

.staff-add-section {
  position: relative;
  bottom: 18px;
  border-bottom: 2px dashed #dee2e6;
}

.staff-add-section h1 {
  text-transform: uppercase;
  font-size: 2rem;
  color: #63bfbf;
}

.staff-add-box {
  position: relative;
  width: 280px;
  margin-bottom: 25px;
}

.staff-add-box input {
  width: 100%;
  padding: 10px 0 5px;
  color: #212529;
  border: none;
  outline: none;
  font-size: 1em;
  letter-spacing: 0.1em;
  background: transparent;
  box-shadow: none;
}

.staff-add-box span {
  position: absolute;
  left: 0;
  color: #adb5bd;
  padding: 10px 0 5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  pointer-events: none;
  transition: 0.5s;
}

.staff-add-box input:valid ~ span,
.staff-add-box input:focus ~ span {
  color: #495057;
  transform: translatey(-20px);
  font-size: 0.8em;
}

.staff-add-box em {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #495057;
  overflow: hidden;
}

.staff-add-box em::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  background: linear-gradient(
    90deg,
    #63bfbf,
    #f8f9fa,
    #e9ecef,
    #dee2e6,
    #ced4da,
    #a6dada,
    #a3d1d1,
    #90bebe,
    #83b8b8,
    #63bfbf
  );
  animation: animate 0.9s linear infinite;
  transition: 0.5s;
}

.staff-add-box input:valid ~ em::before,
.staff-add-box input:focus ~ em::before {
  left: 0;
}

/*custom inpu file*/
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  display: none;
}

.custom-file-input::before {
	content: "▲ Upload File";
    color: #fff;
    display: inline-block;
    background: #63bfbf;
    padding: 5px 10px;
    margin-top: 2%;
    margin-right: 2%;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 100;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.custom-file-input:focus {
	outline: none !important;

}
.custom-file-input:active::before {
	    transform: scale(.9) translate(0px, 2px);
	   box-shadow:  inset 4px 4px 5px 0px rgba(0, 0, 0, 0.20);
	   
}


.add-btn-div{
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
}

.add-btn-div .title {
  display: flex;
  align-items: center;
  color: #63bfbf;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
}

.add-btn-div .title em {
  position: relative;
  height: 45px;
  width: 45px;
  background-color: #63bfbf;
  border-radius: 6px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.add-btn-div .title .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}


.add-btn{
  margin-left: 75%;
  border: none;
  outline: none;
}

.profile_img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
  object-fit: cover;
  object-position: center right;
}

.add-btn em{
  background-color: transparent !important;
  color: #63bfbf !important;
  font-size: 25px !important;
}

.gallery-add-btn{
  margin-left: 75%;
  border: none;
  outline: none;
}


.gallery-add-btn em{
  background-color: transparent !important;
  color: #63bfbf !important;
  font-size: 2.25rem !important;
}



@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 280px;
  }
}

.staff-submit-btn {
  position: absolute;
  bottom: -26px;
  outline: none;
  border: none;
  left: 50%;
  height: 50px;
  width: 180px;
  padding: 1rem 1.5rem;
  color: #ffff;
  background: #63bfbf;
  border-radius: 0.25rem;
  cursor: pointer;
  align-items: center;
}


//Staff Listing 

.container {
  padding: 2px 16px;
  margin-top: 5%;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.345);
  display: none;
}
.cross-icon {
  position: relative;
  bottom: 20px;
  left: 100%;
}
.cross-icon a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  cursor: pointer;
}

.cross-symbol {
  position: relative;
  left: 45%;
 bottom: 30px;
}

.cross-symbol a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  cursor: pointer;
}


//Gallery Adding

.gallery-adding-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 250px;
  background-color: #fff;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.7);
  border-radius: .5rem;
}

.gallery-adding-title {
  text-align: center;
  font-size: 18px;
  line-height: 0.5;
  border-bottom: 1px solid #000;
  margin-top: 2%;
}

.gallery-adding-file {
  position: absolute;
  display: table;
  table-layout: fixed;
  width: 100px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px dotted #000;
  border-radius: 5px;
}

.gallery-adding-upload {
  position: absolute;
  color: #63bfbf;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  cursor: pointer;
}

.gallery-adding-fileName {
  position: absolute;
  width: 100%;
  height: 18px;
  padding: 3px;
  bottom: 0;
  color: #67B26F;
  font-size: 11px;
}

.gallery-adding-center input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: none;
}


.gallery-submit-btn {
  position: absolute;
 top: 60%;
 left: 50%;
 transform: translate(-50%, -50%);
  outline: none;
  border: none;
  height: 50px;
  width: 180px;
  padding: 1rem 1.5rem;
  color: #ffff;
  background: #63bfbf;
  border-radius: 0.25rem;
  cursor: pointer;
}


//Gallery Listing

.gallery-listing-main-div{
  position: absolute;
  background: #f2f2f2;
  min-height: 100vh;
  top: 15%;
  left: 5%;
  right: 5%;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
}

.gallery-listing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  margin-left: 78px;
  margin-right: 78px;
}

.gallery-listing img{
  width: 25%;
  height: 300px;
  object-fit: cover;
  margin-top: 8px;
  padding: 0 4px;
  border-radius: 10px;
}


// Chart DIV

.chart-main{
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  text-align: center;
}

.chart-main .title {
  display: flex;
  align-items: center;
  color: #63bfbf;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
}

.chart-main .title i {
  position: relative;
  height: 45px;
  width: 45px;
  background-color: #63bfbf;
  border-radius: 6px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.chart-main .title .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}

.chart-column{
  float: left;
  width: 45%;
  padding: 5%;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 2%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.chart-row:after {
  content: "";
  display: table;
  clear: both;
}

.chart-title{
  margin-top: 3%;
  color: black;
  font-size: 1.15rem;
}

//Confirmation Div
.alert.alert-primary{
  text-align: center;
  z-index: 10;

}

//link

.view-link {
  color: #63bfbf;
  text-decoration: underline;
  font-weight: bolder;
}





//Media query

@media (max-width: 780px) {
  .dash-content .boxes .box {
    width: calc(100% / 2 - 15px);
    margin-top: 15px;
  }
}
@media (max-width: 560px) {
  .dash-content .boxes .box {
    width: 100%;
  }
}
@media (max-width: 400px) {
  nav {
    width: 0px;
  }
  nav.close {
    width: 73px;
  }
  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav ~ .dashboard {
    left: 0;
    width: 100%;
  }
  nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
  nav.close ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
}
