   <nav class="navbar">
            <!-- LOGO -->
            <div class="logo_div">
                <%= image_tag('fw_logo.png', {class: 'fw_logo' }) %>
                    <a href="/admissions/index" class="logo">FWSA</a>
            </div>

            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
                <!-- USING CHECKBOX HACK -->
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <!-- NAVIGATION MENUS -->
                <div class="menu"> 
                    <li><a href="/admissions/index">Home</a></li>
                    <li><a href="/admissions/staff">Staff</a></li>
                    <li class="gallery"><a href="#">Admission</a>
                        <!-- DROPDOWN MENU -->
                        <ul class="dropdown">
                            <li><a href="/basic_details/basic">Apply Now </a></li>
                            <li><a href="/">Check Status</a></li>
                        </ul>
                    </li>
                    <li class="gallery">
                        <a href="/admissions/gallery">Gallery</a>
                        <!-- DROPDOWN MENU -->
                        <%# <ul class="dropdown">
                            <li><a href="/">Batch 1 </a></li>
                            <li><a href="/">Batch 2</a></li>
                            <li><a href="/">Batch 3</a></li>
                            <li><a href="/">Admission</a></li>
                        </ul> %>
                    </li>
                    <li class="faq">
                        <a href="/admissions/faq">FAQ</a>
                    </li>
                </div>
            </ul>
        </nav>


<div class="form-main-container">

    <div class="form-container">
        <form action="/educational_details/create" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <h3 class="h1-span">Educational Detail Form</h3>
            <hr>    
            <% if flash[:error]%>
                <p class="flash-error">
                    <%= flash[:error]%>
                </p>
                <%end%>
                    <table class="form-table">
                    <caption></caption>
                    <th></th>
                        <tr>
                            <td>
                                <p class="input-name">Current Class<span class="required-star">*</span></p>
                            </td>
                            <td>
                                <select name="educational_detail[current_class]" required placeholder="-Select Your Gender-">
                                    <option value="" disabled selected hidden>-Select-</option>
                                    <option value="Currently Studying 12th">
                                        <p class="input-option">Currently Studying 12th</p>
                                    </option>
                                    <option value="Completed 12th">
                                        <p class="input-option">Completed 12th</p>
                                    </option>
                                    <option value="Currently Pursuing Diploma">
                                        <p class="input-option">Currently Pursuing Diploma</p>
                                    </option>
                                    <option value="Completed Diploma">
                                        <p class="input-option">Completed Diploma</p>
                                    </option>
                                    <option value="Currently Pursuing 1st or 2nd Year Degree">
                                        <p class="input-option">Currently pursuing 1st or 2nd year of Degree Course</p>
                                    </option>
                                    <option value="Completed 2nd Year Degree">
                                        <p class="input-option">Completed 2nd year or more of Degree Course</p>
                                    </option>
                                    <option value="Completed a Degree Course">
                                        <p class="input-option">Completed a Degree Course</p>
                                    </option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p class="input-name">10th Standard: School Name<span class="required-star">*</span></p>
                            </td>
                            <td><input type="text" name="educational_detail[sslc_school_name]" placeholder="School Name" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="input-name">10th Standard: School Type<span class="required-star">*</span></p>
                            </td>
                            <td>
                                <select name="educational_detail[sslc_school_type]" required placeholder="-Select Your Gender-">
                                    <option value="" disabled selected hidden>-Select-</option>
                                    <option value="Government">
                                        <p class="input-option">Government</p>
                                    </option>
                                    <option value="Government-Aided">
                                        <p class="input-option">Government-Aided</p>
                                    </option>
                                    <option value="Private">
                                        <p class="input-option">Private</p>
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="input-name">10th Year of Completion <span class="required-star">*</span></p>
                            </td>
                            <td>
                                <input type="text" name="educational_detail[sslc_completion]" placeholder="Completion Year" pattern="[0-9]+" minlength="4" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="input-name">10th Standard: Math Score (mention 'Your Marks'/'Total' - example:
                                    90/100)<span class="required-star">* <span class="mention-span">Mention 'N/A' if not
                                            applicable</span></p>
                            </td>
                            <td>
                                <input type="text" name="educational_detail[sslc_maths_score]" placeholder="Math Score" pattern="[0-9, N/A, n/a]+" maxlength="7" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="input-name">10th Standard: English Score (mention 'Your Marks'/'Total' -
                                    example: 90/100) <span class="required-star">*</span> <span
                                        class="mention-span">Mention 'N/A' if not applicable</span></p>
                            </td>
                            <td>
                                <input type="text" name="educational_detail[sslc_english_score]" placeholder="English Score" pattern="[0-9, N/A, n/a]+" maxlength="7" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="input-name">10th Standard: Total Score (mention 'Your Marks'/'Total' -
                                    example: 450/500)
                                    <span class="required-star">*</span>
                                </p>
                            </td>
                            <td>
                                <input type="text" name="educational_detail[sslc_total_score]" placeholder="Total Score" pattern="[0-9, N/A, n/a]+" maxlength="7" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="input-name">10th Standard: Medium of Instruction<span
                                        class="required-star">*</span></p>
                            </td>
                            <td>
                                <select name="educational_detail[sslc_school_medium]"  required placeholder="-Select Your Gender-">
                                    <option value="" disabled selected hidden>-Select-</option>
                                    <option value="Tamil">
                                        <p class="input-option">Tamil</p>
                                    </option>
                                    <option value="English">
                                        <p class="input-option">English</p>
                                    </option>
                                    <option value="Other">
                                        <p class="input-option">Other</p>
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="input-name">12th Standard/Diploma: School/Institution Name <span
                                        class="required-star">*</span></p>
                            </td>
                            <td><input type="text" name="educational_detail[higher_education_name]" placeholder="School/Institution Name"
                                    required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="input-name">12th Standard/Diploma: School/Institution Type<span
                                        class="required-star">*</span></p>
                            </td>
                            <td>
                                <select name="educational_detail[higher_education_type]" required placeholder="-Select Your Gender-">
                                    <option value="" disabled selected hidden>-Select-</option>
                                    <option value="Government">
                                        <p class="input-option">Government</p>
                                    </option>
                                    <option value="Government-Aided">
                                        <p class="input-option">Government-Aided</p>
                                    </option>
                                    <option value="Private">
                                        <p class="input-option">Private</p>
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="input-name">12th/Diploma Year of Completion <span
                                        class="required-star">*</span></p>
                            </td>
                            <td>
                                <input type="text" name="educational_detail[higher_education_completion]" placeholder="Completion Year" pattern="[0-9]+" minlength="4" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="input-name">12th Standard : Math Score (mention 'Your Marks'/'Total' -
                                    example: 90/100)<span class="required-star">*</span><span class="mention-span"> In
                                        case of 12th other streams/Diploma, mention 'N/A'</span></p>
                            </td>
                            <td>
                                <input type="text" name="educational_detail[higher_education_maths_score]" placeholder="Math Score" pattern="[0-9, N/A, n/a]+" maxlength="7" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="input-name">12th Standard : English Score (mention 'Your Marks'/'Total' -
                                    example: 90/100) <span class="required-star">*</span><span class="mention-span"> In
                                        case of Tamil Medium/Diploma, mention 'N/A'</span></p>
                            </td>
                            <td>
                                <input type="text" name="educational_detail[higher_education_english_score]" placeholder="English Score" pattern="[0-9, N/A, n/a]+" maxlength="7" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="input-name">12th Standard : Computer Science Score (mention 'Your
                                    Marks'/'Total' - example: 90/100) <span class="required-star">*</span><span
                                        class="mention-span"> In case of 12th other streams or Diploma, mention
                                        'N/A'</span></p>
                            </td>
                            <td>
                                <input type="text" name="educational_detail[higher_education_computer_score]" placeholder="Computer Score" pattern="[0-9, N/A, n/a]+" maxlength="7" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="input-name">12th Standard : Total Score (mention 'Your Marks'/'Total' -
                                    example: 550/600)
                                    <span class="required-star">*</span><span class="mention-span"> In case of or
                                        Diploma, mention 'N/A'</span>
                                </p>
                            </td>
                            <td>
                                <input type="text" name="educational_detail[higher_education_total_score]" placeholder="Total Score" pattern="[0-9, N/A, n/a]+" maxlength="7" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="input-name">Diploma : Total Score
                                    <span class="required-star">*</span><span class="mention-span"> In case of 12th,
                                        mention 'N/A'</span>
                                </p>
                            </td>
                            <td>
                                <input type="text" name="educational_detail[higher_education_diploma_score]" placeholder="Total Score" pattern="[0-9, N/A, n/a]+" maxlength="7" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="input-name">12th/Diploma: Medium of Instruction<span
                                        class="required-star">*</span></p>
                            </td>
                            <td>
                                <select name="educational_detail[higher_education_medium]" required placeholder="-Select Your Gender-">
                                    <option value="" disabled selected hidden>-Select-</option>
                                    <option value="Tamil">
                                        <p class="input-option">Tamil</p>
                                    </option>
                                    <option value="English">
                                        <p class="input-option">English</p>
                                    </option>
                                    <option value="Other">
                                        <p class="input-option">Other</p>
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div class="next-btn">
                        <button class="form2-btn">Next</button>
                    </div>
        </form>
    </div>
</div>





<style>
    html {
        width: 100%;
        height: 100%;
        font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
    }

    body {
        background: rgb(255, 255, 255);
        background: linear-gradient(45deg, rgba(255, 255, 255, 1) 52%, rgba(236, 236, 236, 1) 56%);
    }




    /* NAVBAR STYLING STARTS */
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    a {
        color: black !important;
    }

    a:hover {
        border: none;
        color: white;
        border-bottom: 2px solid #63bfbf;
    }



    .logo_div {
        display: flex;
        justify-content: center;
        height: 30%;

    }

    .logo {
        text-transform: uppercase;
        text-decoration: none;
        margin: 0%;
    }

    .fw_logo {
        width: 75px;
        height: 50px;
    }

    /* NAVBAR MENU */
    .menu {
        display: flex;
        gap: 1em;
        font-size: 18px;
    }

    .menu li:hover {
        text-decoration: none;
        color: #63bfbf;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    .menu li {
        padding: 5px 14px;
    }

    /* DROPDOWN MENU */
    .gallery {
        position: relative;
    }

    .dropdown {
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding: 1em 0;
        position: absolute;
        /*WITH RESPECT TO PARENT*/
        display: none;
        top: 35px;
    }

    .dropdown li+li {
        margin-top: 10px;
    }

    .dropdown li {
        padding: 0.5em 1em;
        width: 8em;
        text-align: center;
    }

    .dropdown li:hover {
        text-decoration: none;
        color: #63bfbf;
    }

    .gallery:hover .dropdown {
        display: block;
    }

    .faq {
        position: relative;
    }



    .admission {
        position: relative;
    }

    .admission:hover .dropdown {
        display: block;
    }

    /* CHECKBOX HACK */
    input[type="checkbox"] {
        display: none;
    }

    /*HAMBURGER MENU*/
    .hamburger {
        display: none;
        font-size: 24px;
        user-select: none;
    }
</style>