<div class="sidebar">
    <div class="logo-details">
        <div class="logo_name">FWSA Academy</div>
        <i class="fa-solid fa-bars" id="btn"></i>
    </div>

    <ul class="nav-list">
        <li>
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search...">
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a href="#" class="active-page">
                <i class="fa-solid fa-grip"></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="/report">
                <i class="fa-solid fa-chart-line"></i>
                <span class="links_name">Reports</span>
            </a>
            <span class="tooltip">Reports</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-id-badge"></i>
                <span class="links_name">Staffs</span>
            </a>
            <span class="tooltip">Staffs</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-image"></i>
                <span class="links_name">Gallery</span>
            </a>
            <span class="tooltip">Gallery</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-bell"></i>
                <span class="links_name">Notifications</span>
            </a>
            <span class="tooltip">Notification</span>
        </li>
    </ul>
</div>

<!-- <section class="home-section"> -->

<section class="dashboard">
    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <i class="fa-solid fa-grip"></i>
                <span class="text">Dashboard</span>
            </div>

            <div class="boxes">
                <div class="box">
                    <i class="fa-solid fa-inbox"></i>
                    <span class="text">Total Application Received</span>
                    <span class="number">5000</span>
                </div>
                <div class="box">
                  <div class="avg-logo">
                    <i class="fa-solid fa-x"></i>
                    <i class="fa-solid fa-i"></i>
                    <i class="fa-solid fa-i"></i>
                  </div>
                    <span class="text">Avg 12th Mark Of Students</span>
                    <span class="number">87</span>
                </div>
                <div class="box">
                    <i class="fa-solid fa-x"></i>
                    <span class="text">Avg 10th Mark Of Students</span>
                    <span class="number">87</span>
                </div>
                <div class="box">
                    <i class="fa-solid fa-user-graduate"></i>
                    <span class="text">Total No Of Diploma Applicants</span>
                    <span class="number">87</span>
                </div>
            </div>
        </div>

        <!-- Recent Activity -->

        <div class="activity">
            <div class="title">
                <i class="uil uil-clock-three"></i>
                <span class="text">Recent Activity</span>
            </div>

            <div class="activity-data">
                <div class="data id">
                    <span class="data-title">Id</span>
               
                </div>
                <div class="data names">
                    <span class="data-title">Name</span>
               
                </div>
                <div class="data email">
                    <span class="data-title">Email</span>
                  
                </div>
                <div class="data joined">
                    <span class="data-title">Contact No</span>
                  
                </div>
                <div class="data type">
                    <span class="data-title">Current Class</span>
                 
                </div>
                <div class="data status">
                    <span class="data-title">Status</span>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");

    closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();//calling the function(optional)
    })

    searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
    });



</script>