<div class="sidebar">
    <div class="logo-details">
        <div class="logo_name">FWSA Academy</div>
        <i class="fa-solid fa-bars" id="btn"></i>
    </div>

    <ul class="nav-list">
        <li>
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search...">
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-grip"></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-chart-line"></i>
                <span class="links_name">Reports</span>
            </a>
            <span class="tooltip">Reports</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-id-badge"></i>
                <span class="links_name">Staffs</span>
            </a>
            <span class="tooltip">Staffs</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-image"></i>
                <span class="links_name">Gallery</span>
            </a>
            <span class="tooltip">Gallery</span>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-bell"></i>
                <span class="links_name">Notifications</span>
            </a>
            <span class="tooltip">Notification</span>
        </li>
    </ul>
</div>

<section class="home-section">
    <div class="text">Dashboard</div>
    
</section>

<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");
  
    closeBtn.addEventListener("click", ()=>{
      sidebar.classList.toggle("open");
      menuBtnChange();//calling the function(optional)
    });
  
    searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
      sidebar.classList.toggle("open");
      menuBtnChange(); //calling the function(optional)
    });
  
    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
     if(sidebar.classList.contains("open")){
       closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
     }else {
       closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
     }
    }
</script>