<div class="bg-div">
<%= image_tag('fw-bw.jpg',class: "bg-img") %>
    <main class="signin_body">
        <div class="admin_main_container">
            <div class="login_div">
            <h4 class="admin-title">
                Admin Login
            </h4>
                <form action="/admin_signin" method="post">
                    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                    <% if flash[:error]%>
                        <p class="signin_flash_error">
                            <%= flash[:error]%>
                        </p>
                        <%end%>
    
                        <input placeholder="Admin Username" type="email" class="signin_email" id="email" name="email"><br>
                        <input placeholder="Admin Password" type="password" class="signin_password" id="password"
                            name="password"><br>
                        <button type="submit" class="signin_button">Login</button>
                </form>
            </div>
        </div>
    </main>
</div>