
<nav class="navbar">
  <!-- LOGO -->
  <div class="logo_div">
      <%= image_tag('fw_logo.png', {class: 'fw_logo' }) %>
          <a href="/admissions/index" class="logo">FWSA</a>
  </div>

  <!-- NAVIGATION MENU -->
  <ul class="nav-links">
      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <!-- NAVIGATION MENUS -->
      <div class="menu"> 
          <li><a href="/admissions/index">Home</a></li>
          <li><a href="/admissions/staff">Staff</a></li>
          <li class="gallery"><a>Admission</a>
              <!-- DROPDOWN MENU -->
              <ul class="dropdown">
                  <li><a href="/basic_details/basic">Apply Now </a></li>
                  <li><a href="/admissions/search">Check Status</a></li>
              </ul>
          </li>
          <li class="gallery">
              <a href="/admissions/gallery">Gallery</a>
              <!-- DROPDOWN MENU -->
              <%# <ul class="dropdown">
                  <li><a href="/">Batch 1 </a></li>
                  <li><a href="/">Batch 2</a></li>
                  <li><a href="/">Batch 3</a></li>
                  <li><a href="/">Admission</a></li>
              </ul> %>
          </li>
          <li class="faq">
              <a href="/admissions/faq">FAQ</a>
          </li>
      </div>
  </ul>
</nav>


<div class="search-main-container">
    <h3>Check Your Applciation Status Here</h3>
    <form action="/searched" method="get">
    <div class="search-box">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
        <input class="search-txt" type="text" placeholder="Enter Your Registered Mail Id" name= "email" autofocus>
        <button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </form>
</div>

<div class="result-div">
    <% if @bd == nil %>
      <p class="result_title">
        Enter Your Email Address In the Search Box
      </p>
    <% else %>
       <%if $sd%>
        <%case $sd.status%>
        <% when 1%>
         <p class="result-p">You have been <span>Selected</span> </p>
         <% when 2%>
          <p class="result-p">You have been <span>Rejected</span></p>
         <%when 3%>
        <p class="result-p"> You have been <span>Wait Listed</span></p>
         <%else%>
         <%end%>
       <% else %>
         <p class="result-p">
            Your Status is not yet Updated
         </p>
       <% end %>
     <% end %>

</div>




<style>
  /* NAVBAR STYLING STARTS */
  .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      background: rgba(255, 255, 255, 0);
      box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
  }

  a {
      color: black !important;
  }

  a:hover {
      border: none;
      color: white;
      border-bottom: 2px solid #63bfbf;
  }



  .logo_div {
      display: flex;
      justify-content: center;
      height: 30%;

  }

  .logo {
      text-transform: uppercase;
      text-decoration: none;
      margin: 0%;
  }

  .fw_logo {
      width: 75px;
      height: 50px;
  }

  /* NAVBAR MENU */
  .menu {
      display: flex;
      gap: 1em;
      font-size: 18px;
  }

  .menu li:hover {
      text-decoration: none;
      color: #63bfbf;
      border-radius: 5px;
      transition: 0.3s ease;
  }

  .menu li {
      padding: 5px 14px;
  }

  /* DROPDOWN MENU */
  .gallery {
      position: relative;
  }

  .dropdown {
      background: rgba(255, 255, 255, 0);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      padding: 1em 0;
      position: absolute;
      display: none;
      border-radius: 8px;
      top: 35px;
      z-index: 1;
  }

  .dropdown li+li {
      margin-top: 10px;
  }

  .dropdown li {
      padding: 0.5em 1em;
      width: 8em;
      text-align: center;
  }

  .dropdown li:hover {
      text-decoration: none;
      color: #63bfbf;
  }

  .gallery:hover .dropdown {
      display: block;
  }

  .faq {
      position: relative;
  }



  .admission {
      position: relative;
  }

  .admission:hover .dropdown {
      display: block;
  }

  /* CHECKBOX HACK */
  input[type="checkbox"] {
      display: none;
  }

  /*HAMBURGER MENU*/
  .hamburger {
      display: none;
      font-size: 24px;
      user-select: none;
  }
</style>